%% -*- erlang -*-
{erl_opts, [debug_info,
            warnings_as_errors,
            warn_export_vars,
            warn_shadow_vars,
            warn_obsolete_guard,
            warn_export_all,
            warn_untyped_record,
            {parse_transform, lager_transform}]}.
{deps, [{jsx, "2.8.0"},
        {lager, "3.2.1"}]}.
